<%= form_tag('/surveys') do |f| %>

  <% @questions.each do |question| %>
    <%= JsonQuestionBuilder.new(question).render %>
  <% end %>

  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>